RewriteEngine On
RewriteRule ^login$ view/login.php [NC,L]
RewriteRule ^logout$ controller/logout.php [NC,L]

RewriteRule ^module/([A-Za-z0-9-]+)/([0-9]+)$ index.php?page=module&action=$1&id=$2 [NC,L]
RewriteRule ^module/([A-Za-z0-9-]+)$ index.php?page=module&action=$1 [NC,L]

RewriteRule ^exam/([A-Za-z0-9-]+)/([0-9]+)$ index.php?page=exam&action=$1&id=$2 [NC,L]
RewriteRule ^exam/([A-Za-z0-9-]+)$ index.php?page=exam&action=$1 [NC,L]

RewriteRule ^student/([A-Za-z0-9-]+)/([0-9]+)$ index.php?page=student&action=$1&id=$2 [NC,L]
RewriteRule ^student/([A-Za-z0-9-]+)$ index.php?page=student&action=$1 [NC,L]

RewriteRule ^administration/([A-Za-z0-9-]+)$ index.php?page=administration&action=$1 [NC,L]

RewriteRule ^([A-Za-z0-9-]+)$ index.php?page=$1 [NC,L]